REQUIREMENTS

For all notebooks:
* Anaconda 64bits Python >= 2.7.15
* pandas 0.23.4

For reports extractor notebook:
* tesseract-ocr 3.05.02-20180621 (must be added to the PATH)
* textract (via pip install)
* chardet >= 3.0.4 (via pip install, at least v3 for better recognition of latin-1 == ISO-8859-1)
* antiword 0.37 (so that C:\antiword\antiword.exe or ~/antiword/antiword exists)
* pypdf2 (via pip install)
* pdftoppm via Xpdf tools v4.00 http://www.xpdfreader.com/download.html (needs to be added to the PATH)
* pdftotext via Xpdf tools v4.00
* optionally: pdfminer 20140328 or pdfminer.six (via pip install, and associate .py files with python binary, for Windows do the following in a terminal with Admin power: ftype pyfile="C:\Users\Your_Username\Anaconda2\python.exe" "%1"; assoc .py=pyfile )

Other necessary libraries such as pydicom are included with some modifications to fix bugs and issues.
